<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jwtFilter" class="de.sveri.cleanercomm.filter.JwtFilter"/>

    <bean id="jwtFilterRegistrationBean" class="org.springframework.boot.context.embedded.FilterRegistrationBean">
        <property name="filter" ref="jwtFilter"/>
        <property name="enabled" value="true" />
        <property name="urlPatterns" value="/api/*" />
    </bean>

</beans>