html {
    position: relative;
    min-height: 100%;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

body > .container {
    padding: 60px 15px 70px;
    width: 1300px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer > .container {
	padding-top: 22px;
}

.footer > .container > a {
	margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #F8F8F8;
}

nav > ul > li {
  float: left;
}

nav > ul > li > ul {
  display: none;
}

nav > ul a {
  display: block;
  white-space: nowrap;
  margin-top: 15px;
  //padding: 10px;
  background: #F8F8F8;
}

nav ul > li > ul > li a {
  background: #F8F8F8;
  //color: rgb(255, 255, 255);
}

nav > ul > li:hover > ul {
  display: block;
  position: absolute;
}

nav > ul > li > ul > li {
  position: relative;
}

nav > ul > li > ul > li > ul {
  display: none;
}

nav > ul > li > ul > li:hover > ul {
  display: block;
}

nav > ul > li > ul > li:hover > ul {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
}