<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

<!-- 	xmlns:sec="http://thymeleaf.org/extras/springsecurity" -->
<!-- 	xmlns:sec="http://www.ultraq.net.nz/thymeleaf-extras-springsecurity4" -->
<title>For a better world.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../css/boostrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../../css/layout.css" th:href="@{/css/layout.css}"
	rel="stylesheet" media="screen" />

<!--      Lets do something crazy, lets try to create a template without javascript in 2016!!!!!1111elf!!! -->
<!--     <script th:src="@{/js/bootstrap.min.js}"></script> -->
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>


			<div sec:authorize="!isAnonymous()" class="pull-right">
				<nav>

					<ul>
						<li><a href="/">Menu</a>
							<ul>
								<li><a href="#">Profil</a></li>
								<li><a th:href="@{/logout}">Log out</a></li>
							</ul></li>
					</ul>
				</nav>

			</div>

			<div sec:authorize="isAnonymous()">
				<div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-right" th:action="@{/login}"
						method="post">
						<div class="form-group">
							<input type="text" placeholder="Username" class="form-control"
								name="username"></input>
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" name="password"
								class="form-control"></input>
						</div>
						<button type="submit" class="btn btn-success">Sign in</button>
					</form>
				</div>
			</div>
		</div>
	</nav>

	<div class="container" layout:fragment="container">
		<div class="page-header">
			<h1>Sticky footer with fixed navbar</h1>
		</div>
		<p class="lead">
			Pin a fixed-height footer to the bottom of the viewport in desktop
			browsers with this custom HTML and CSS. A fixed navbar has been added
			with
			<code>padding-top: 60px;</code>
			on the
			<code>body &gt; .container</code>
			.
		</p>
		<p>
			Back to <a href="../sticky-footer">the default sticky footer</a>
			minus the navbar.
		</p>
	</div>


	<footer class="footer">
		<div class="container">
			<p class="text-muted">Place sticky footer content here.</p>
		</div>
	</footer>


</body>
</html>