<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<div layout:fragment="container">
	<div>
		<h2>Data Privacy Policy</h2>
		<p>Our website may be used without entering personal information.
			Different rules may apply to certain services on our site, however,
			and are explained separately below. We collect personal information
			from you (e.g. name, address, email address, telephone number, etc.)
			in accordance with the provisions of German data protection statutes.
			Information is considered personal if it can be associated
			exclusively to a specific natural person. The legal framework for
			data protection may be found in the German Federal Data Protection
			Act (BDSG) and the Telemedia Act (TMG). The provisions below serve to
			provide information as to the manner, extent and purpose for
			collecting, using and processing personal information by the
			provider.</p>
		<p>
			<strong>Sven Richter</strong> <strong>sveri80 at gmail . com</strong>
		</p>
		<p>Please be aware that data transfer via the internet is subject
			to security risks and, therefore, complete protection against
			third-party access to transferred data cannot be ensured.</p>

		<h4>Cookies</h4>
		<p>Our website makes use of so-called cookies in order to
			recognize repeat use of our website by the same user/internet
			connection subscriber. Cookies are small text files that your
			internet browser downloads and stores on your computer. They are used
			to improve our website and services. In most cases these are
			so-called "session cookies" that are deleted once you leave our
			website.</p>
		<p>To an extent, however, these cookies also pass along
			information used to automatically recognize you. Recognition occurs
			through an IP address saved to the cookies. The information thereby
			obtained is used to improve our services and to expedite your access
			to the website.</p>
		<p>You can prevent cookies from being installed by adjusting the
			settings on your browser software accordingly. You should be aware,
			however, that by doing so you may not be able to make full use of all
			the functions of our website.</p>

		<h4>Server Data</h4>
		<p>For technical reasons, data such as the following, which your
			internet browser transmits to us or to our web space provider (so
			called server log files), is collected: - type and version of the
			browser you use - operating system - websites that linked you to our
			site (referrer URL) - websites that you visit - date and time of your
			visit - your Internet Protocol (IP) address. This anonymous data is
			stored separately from any personal information you may have
			provided, thereby making it impossible to connect it to any
			particular person. The data is used for statistical purposes in order
			to improve our website and services.</p>

		<h4>Purpose of Registering</h4>
		<p>We offer you the opportunity to sign up for our website. The
			information entered when signing up, as shown in the registration
			form</p>
		<p>
			<strong><a href="http://historify.sveri.de/user/register">http://historify.sveri.de/user/register</a></strong>
		</p>
		<p>is collected and stored solely for use by our website. When
			signing up for our website, we also store your IP address and the
			date and time you registered. This serves to protect us in the event
			a third party improperly and without your knowledge makes use of your
			data to sign up for our site.&nbsp;None of this information is
			transferred to third parties. Nor is any of this information matched
			to any information that may be collected by other components of our
			website.</p>

		<h4>Contacting Us</h4>
		<p>On our website we offer you the opportunity to contact us,
			either by email and/or by using a contact form. In such event,
			information provided by the user is stored for the purpose of
			facilitating communications with the user. No data is transferred to
			third parties. Nor is any of this information matched to any
			information that may be collected by other components of our website.</p>

		<h4>Use of the web analysis service PIWIK</h4>
		<p>
			Our website uses the web analysis service PIWIK. To carry out this
			analysis, PIWIK uses cookies. Cookies are small text files that are
			stored to your computer and provide analysis of your use of the site.
			The information generated by these cookies, such as time, place and
			frequency of your visits to our site, including your IP address, are
			transmitted to our PIWIK server and stored there. As part of this
			process, you IP address is immediately anonymized so that you as user
			remain anonymous to us.<strong> </strong>The information generated by
			the cookie about your use of this site is not transferred to third
			parties.<strong> </strong>You can prevent cookies from being
			installed by adjusting the settings on your browser software
			accordingly. You should be aware, however, that by doing so you may
			not be able to make full use of all the functions of our website. <strong>[THE
				FOLLOWING AMENDMENTS MAY BE APPLIED BUT ARE NOT MANDATORY]</strong> Should
			you be unwilling to have this data about your use of the site stored
			and analyzed, you may at any time subsequently withdraw your consent
			to it being stored and used with a click of the mouse. A so-called
			opt-out cookie is then placed on your browser, and as a result Piwik
			will no longer collect any data on your visits.&nbsp;Please be aware
			that, should you delete cookies from your browser settings, the
			opt-out cookie from PIWIK may also be deleted and will need to be
			reactivated.
		</p>

		<h3>Information/Cancellation/Deletion</h3>
		<p>On the basis of the Federal Data Protection Act, you may
			contact us at no cost if you have questions relating to the
			collection, processing or use of your personal information, if you
			wish to request the correction, blocking or deletion of the same, or
			if you wish to cancel explicitly granted consent. Please note that
			you have the right to have incorrect data corrected or to have
			personal data deleted, where such claim is not barred by any legal
			obligation to retain this data.</p>
		<p>
			<a
				href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html"
				target="_blank">Sample Data Privacy Policy Statement</a> provided by
			the <a href="https://www.ratgeberrecht.eu/" target="_blank">Law
				Offices of Weiß &amp; Partner</a>
		</p>
	</div>

	<hr />

	<div class="datenschutzhinweise_html_text_output html_text_output"
		id="datenschutzhinweise_html_text_output_div">
		<h2>Datenschutzerklärung</h2>
		<p>Die Nutzung unserer Seite ist ohne eine Angabe von
			personenbezogenen Daten möglich. Für die Nutzung einzelner Services
			unserer Seite können sich hierfür abweichende Regelungen ergeben, die
			in diesem Falle nachstehend gesondert erläutert werden. Ihre
			personenbezogenen Daten (z.B. Name, Anschrift, E-Mail, Telefonnummer,
			u.ä.) werden von uns nur gemäß den Bestimmungen des deutschen
			Datenschutzrechts verarbeitet. Daten sind dann personenbezogen, wenn
			sie eindeutig einer bestimmten natürlichen Person zugeordnet werden
			können. Die rechtlichen Grundlagen des Datenschutzes finden Sie im
			Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).
			Nachstehende Regelungen informieren Sie insoweit über die Art, den
			Umfang und Zweck der Erhebung, die Nutzung und die Verarbeitung von
			personenbezogenen Daten durch den Anbieter</p>
		<p>
			<strong>Sven Richter</strong>
		</p>
		<p>
			<strong>sveri80 at gmail . com</strong>
		</p>
		<p>Wir weisen darauf hin, dass die internetbasierte
			Datenübertragung Sicherheitslücken aufweist, ein lückenloser Schutz
			vor Zugriffen durch Dritte somit unmöglich ist.</p>

		<h4>Cookies</h4>
		<p>
			Wir verwenden auf unserer Seite sog. Cookies zum Wiedererkennen
			mehrfacher Nutzung unseres Angebots, durch denselben
			Nutzer/Internetanschlussinhaber. Cookies sind kleine Textdateien, die
			Ihr Internet-Browser auf Ihrem Rechner ablegt und speichert. Sie
			dienen dazu, unseren Internetauftritt und unsere Angebote zu
			optimieren. Es handelt sich dabei zumeist um sog. "Session-Cookies",
			die nach dem Ende Ihres Besuches wieder gelöscht werden.<br />
			Teilweise geben diese Cookies jedoch Informationen ab, um Sie
			automatisch wieder zu erkennen. Diese Wiedererkennung erfolgt
			aufgrund der in den Cookies gespeicherten IP-Adresse. Die so
			erlangten Informationen dienen dazu, unsere Angebote zu optimieren
			und Ihnen einen leichteren Zugang auf unsere Seite zu ermöglichen.<br />
			Sie können die Installation der Cookies durch eine entsprechende
			Einstellung Ihres Browsers verhindern; wir weisen Sie jedoch darauf
			hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
			Funktionen unserer Website vollumfänglich nutzen können.
		</p>

		<h4>Serverdaten</h4>
		<p>
			Aus technischen Gründen werden u.a. folgende Daten, die Ihr
			Internet-Browser an uns bzw. an unseren Webspace-Provider
			übermittelt, erfasst (sogenannte Serverlogfiles): <br /> <br /> -
			Browsertyp und -version <br /> - verwendetes Betriebssystem <br />
			- Webseite, von der aus Sie uns besuchen (Referrer URL) <br /> -
			Webseite, die Sie besuchen <br /> - Datum und Uhrzeit Ihres Zugriffs
			<br /> - Ihre Internet Protokoll (IP)-Adresse. <br /> <br /> Diese
			anonymen Daten werden getrennt von Ihren eventuell angegebenen
			personenbezogenen Daten gespeichert und lassen so keine Rückschlüsse
			auf eine bestimmte Person zu. Sie werden zu statistischen Zwecken
			ausgewertet, um unseren Internetauftritt und unsere Angebote
			optimieren zu können.
		</p>

		<h4>Registrierungsfunktion</h4>
		<p>Wir bieten Ihnen auf unserer Seite die Möglichkeit, sich dort
			zu registrieren. Die im Zuge dieser Registrierung eingegebenen Daten,
			die aus der Eingabemaske des Registrierungsformular ersichtlich sind
		</p>
		<p>
			<strong><a href="http://historify.sveri.de/user/register">http://historify.sveri.de/user/register</a></strong>
		</p>
		<p>werden ausschließlich für die Verwendung unseres Angebots
			erhoben und gespeichert. Mit Ihrer Registrierung auf unserer Seite
			werden wir zudem Ihre IP-Adresse und das Datum sowie die Uhrzeit
			Ihrer Registrierung speichern. Dies dient in dem Fall, dass ein
			Dritter Ihre Daten missbraucht und sich mit diesen Daten ohne Ihr
			Wissen auf unserer Seite registriert, als Absicherung
			unsererseits.&nbsp; Eine Weitergabe an Dritte erfolgt nicht. Ein
			Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch
			andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls
			nicht.</p>

		<h4>Kontaktmöglichkeit</h4>
		<p>Wir bieten Ihnen auf unserer Seite die Möglichkeit, mit uns per
			E-Mail und/oder über ein Kontaktformular in Verbindung zu treten. In
			diesem Fall werden die vom Nutzer gemachten Angaben zum Zwecke der
			Bearbeitung seiner Kontaktaufnahme gespeichert. Eine Weitergabe an
			Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten,
			die möglicherweise durch andere Komponenten unserer Seite erhoben
			werden, erfolgt ebenfalls nicht.</p>

		<h4>Einsatz von Webanalysedienst PIWIK</h4>
		<p>
			Wir setzen auf unserer Website den Webanalysedienst PIWIK ein. PIWIK
			verwendet für diese Analyse Cookies. Cookies sind<strong> </strong>kleine
			Textdateien, die auf Ihrem Computer gespeichert werden und die eine
			Analyse der Benutzung der Website durch Sie ermöglichen. <br /> Die
			durch die Cookies erzeugten Informationen, beispielsweise Zeit, Ort
			und Häufigkeit Ihres Webseiten-Besuchs einschließlich Ihrer
			IP-Adresse, werden an unseren PIWIK-Server übertragen und dort
			gespeichert. Ihre IP-Adresse wird bei diesem Vorgang umge­hend
			anony­mi­siert, so dass Sie als Nutzer für uns anonym bleiben.<strong>
			</strong>Die durch den Cookie erzeugten Informationen über Ihre Benutzung
			dieser Webseite werden nicht an Dritte weitergegeben.<strong>
			</strong>Sie können die Installation der Cookies durch eine entsprechende
			Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch
			darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
			Funktionen unserer Website vollumfänglich nutzen können.&nbsp;
		</p>

		<h3>Auskunft/Widerruf/Löschung</h3>
		<p>Sie können sich aufgrund des Bundesdatenschutzgesetzes bei
			Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer
			personenbezogenen Daten und deren Berichtigung, Sperrung, Löschung
			oder einem Widerruf einer erteilten Einwilligung unentgeltlich an uns
			wenden. Wir weisen darauf hin, dass Ihnen ein Recht auf Berichtigung
			falscher Daten oder Löschung personenbezogener Daten zusteht, sollte
			diesem Anspruch keine gesetzliche Aufbewahrungspflicht
			entgegenstehen.</p>
		<p>
			<a target="_blank"
				href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html">Muster-Datenschutzerklärung</a>
			der <a target="_blank" href="https://www.ratgeberrecht.eu/">Anwaltskanzlei
				Weiß &amp; Partner</a>
		</p>
	</div>

</div>


</html>