<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>For a better world.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../css/boostrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../../css/layout.css" th:href="@{/css/layout.css}"
	rel="stylesheet" media="screen" />

<!--      Lets do something crazy, lets try to create a template without javascript in 2016!!!!!1111elf!!! -->
<!--     <script th:src="@{/js/bootstrap.min.js}"></script> -->
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control"></input>
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control"></input>
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div>

		</div>
	</nav>

	<div class="container">
		<div class="page-header">
			<h1>Sticky footer with fixed navbar</h1>
		</div>
		<p class="lead">
			Pin a fixed-height footer to the bottom of the viewport in desktop
			browsers with this custom HTML and CSS. A fixed navbar has been added
			with
			<code>padding-top: 60px;</code>
			on the
			<code>body &gt; .container</code>
			.
		</p>
		<p>
			Back to <a href="../sticky-footer">the default sticky footer</a>
			minus the navbar.
		</p>
	</div>


	<footer class="footer">
		<div class="container">
			<p class="text-muted">Place sticky footer content here.</p>
		</div>
	</footer>


</body>
</html>